# This indicates to npm that everywhere where the scope bcc-its is used it should use the registry as described below.
@bcc-its:registry=https://npm.pkg.github.com/
@bit:registry=https://node.bit.dev

# This is an access token from a user called package-manager-public-access which you can find the
# the login details of in lastpass under "Membership & Identity Team" folder
# https://docs.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages
//npm.pkg.github.com/:_authToken=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
