# This indicates to npm that everywhere where the scope bcc-code is used it should use the registry as described below.
@bcc-code:registry=https://npm.pkg.github.com/
@bit:registry=https://node.bit.dev

# This is an access token from a user called package-manager-public-access which you can find the
# the login details of in lastpass under "Membership & Identity Team" folder
# https://docs.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages

#In order to see how the key gets replaced in the docker file please see this link https://docs.npmjs.com/docker-and-private-modules
//npm.pkg.github.com/:_authToken=9c6a140a94f48469f92fc878de58574c7bb39873

